.App {
  text-align: center;
}

.topparent {
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  height: 170px;

}

.topchild {
  margin: 0 auto;
  width: 75%;
  display: flex;
  background-size: auto;
}

@media(max-width: 500px){
  .topparent, .topchild {
     height: 130px; 

  }
}

@media(max-width: 400px){
  .topparent, .topchild {
     height: 100px; 

  }
}

.hero {
  width: 100%;
  height: 160%;
}

@media(min-width: 965px){
  .topparent {
     height: 105%; 
     width: 100%;
  }
}

@media(max-width: 965px){
  .hero {
     height: 110%; 
     width: 100%;
  }
}



@media(max-width: 925px){
  .hero {
     height: 110%; 
     width: 110%;
  }
}

@media(max-width: 875px){
  .hero {
     height: 105%; 
     width: 105%;
  }
}

@media(max-width: 825px){
  .hero {
     height: 100%; 
     width: 110%;
  }
}

@media(max-width: 775px){
  .hero {
    height: 100%; 
    width: 100%;
  }
}

@media(max-width: 725px){
  .hero {
    height: 100%; 
    width: 100%;
  }
}

@media(max-width: 675px){
  .hero {
    height: 100%; 
    width: 110%;
  }
}

@media(max-width: 600px){
  .hero {
    height: 100%; 
    width: 120%;
  }
}

@media(max-width: 575px){
  .hero {
    height: 100%; 
    width: 130%;
  }
}

@media(max-width: 450px){
  .hero {
    height: 100%; 
    width: 140%;
  }
}


.navparent {
  width: 100%;
  margin: 0 auto;
  background-color: #111e6c; 
  height:80px;
  color: black;
  display: flex;
  flex-direction: column;
}

.navchild {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10pt;
  font-family: 'Raleway', sans-serif;
  font-weight:30;
  
}



@media(max-width: 980px){
  .navparent, .navchild {
    font-size: 8pt;
  }
}


.menu-on {
  background-color: #111e6c;
  color: white;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10000;
  font-size: 30pt;
  margin-top: 10px;

}

.menu-off {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;

}


.primary-nav {
  width: 100%;
  margin: 0 auto;
  display: none;
  z-index: 1002;
  font-weight: 30;
  padding-bottom: 10px;
}


@media(min-width: 575px) {
  .primary-nav {
    margin-top: 24px;
    font-size: 10pt;
 
  }
}


a {
  color: white;
  text-shadow: -1px 0 black, 0px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
  padding-left: 25px;
  padding-bottom: 10px;
  font-weight: 30;
  
}

@media(min-width: 575px) {
a {
  font-weight: 30;
  font-size: 22pt;
}
}

@media(min-width: 850px) {
  a {
    font-weight: 30;
    font-size: 25pt;
    margin-top: 5px;
  }
  }

.primary-nav Link {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  color: black;

}

#toggle-menu {
  display: none;
}

#toggle-menu:checked ~ nav.primary-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100px;
}

#toggle-menu:checked ~ navparent {
  height: 100px;
}

#toggle-menu:checked ~ navchild {
  height: 100px;
}

#toggle-menu:checked ~ .menu-off {
  display: block;
  height: 100px;
}

#toggle-menu:checked ~ .menu-on {
  display: none;
  height: 100px;
}

@media screen and (min-width: 575px) {
  .menu-on, .menu-off {
    display: none;
  }

  nav.primary-nav {
    display: block;
    position: static;
  }

  nav.primary-nav Link {
    display: inline-block;

  }
}

.footerparent {
  margin: 0 auto;
  display: flex;
  background-color: purple;
}

.footerchild {
  margin: 0 auto;
  width: 75%;
  display: flex;
  background-color: lawngreen;
}

.manualContact {
  text-align: left;
  justify-content: center;
  width: 160%;
}

.manualContact > div {
  justify-content: center;
}

.digits {
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 20px;
  width: 49%;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

.digits > h5 {
  margin-top: none;
  margin-bottom: none;
}

.digits > phone {
  padding-bottom: 20px;
  padding-top: 40px;
}

.address {
  padding-bottom: 20px;
  width: 49%;
  margin: 0 auto;
}

.zip {
  padding-left: 86px;
}

.form-parent {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-child {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 75%;

}

.input {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 65%;
  
}

@media(min-width: 750px) {
  .input {
  width: 500px;
  }
}

.input > * {
  margin-bottom: 10px;
}

.input > button {
  border-radius: 5%;
  border: none;
  width: 30%;
  margin: 0 auto;
  height: 30px;
  font-weight: bolder;

}

.message {
  height: 150px;
}

.hbodychild {
  background-image: './Media/Images/37295.jpeg';

}


.routes {
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
 
}


.footerparent {
  margin: 0 auto;
  display: flex;
  background-color:  #111e6c;
  min-height: 0em;

}

.footerchild {
  margin: 0 auto;
  display: flex;
  width: 75%;
  background-color:  #111e6c;
  flex-direction: column;
  justify-content: center;
  min-height: 0em;
}

.quoteParent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  background-color: #111e6c;
  /* padding-bottom: 7px; */
}

.quoteChild {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  background-color: #111e6c;
}

.contactInfo {
  font-weight: 20;
  flex-direction: row;
  font-size: 10pt;
  margin: none;
  color: white;
  margin-bottom: 5px;
  text-align: left;
  padding-top: 38px;
}

.phone {
  font-weight: 20;
}


.stars {
  width: 30%;
  margin-top: 20px;
}



.aboutParent {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  

}

.aboutContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
 
  
}



.aboutContainer > p {
  margin-top: 5px;
  margin-bottom: 30px;
  width: 20%;
}



.Jonas {
  height: 350px;
  min-width: 16em;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  
}


.Jeanine {
  height: 350px;
  min-width: 16em;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Blake {
  height: 350px;
  min-width: 16em;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Lee {
  height: 350px;
  min-width: 16em;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Rhonda {
  height: 350px;
  min-width: 16em;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}


.person1 > p {
  padding-top: 160px;
  padding-bottom: 30px;
  font-size: 25pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 30;
}

.person2 > p {
  padding-top: 160px;
  padding-bottom: 30px;
  font-size: 25pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 30;
}

.person3 > p {
  padding-top: 160px;
  padding-bottom: 30px;
  font-size: 25pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 30;
}

.person4 > p {
  padding-top: 160px;
  padding-bottom: 30px;
  font-size: 25pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 30;
}

.person5 > p {
  padding-top: 160px;
  padding-bottom: 30px;
  font-size: 25pt;
  font-family: 'Raleway', sans-serif;
  font-weight: 30;
}

/* .formSubmit {
  padding-bottom: 10px;
} */

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

/* .grGalParent {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.grGalChild {
  margin: 0 auto;
  width: 75%;
  display: flex;
} */

.bodyParent {
  margin: 0 auto;
  width: 100%;
  display: flex;
  height: 500px
}

.bodyChild {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: center;
  height: 500px;
}